Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add the Gávea apt repository?
 The installer would like to add the package repository and signing
 key to update Gávea through apt.
